@model IEnumerable<ResturantOnline.Models.Item>

@{
    ViewData["Title"] = "ShowItems";
}

<h1>ShowItems</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titel)
            </td>
          
            <td>
                <img src="~/Images/@item.Image" style="width:150px;height:150px" >   
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
          
            
        </tr>
}
    </tbody>
</table>
